// Import all of Bootstrap’s CSS
$primary: #00459E;
$secondary: #E4E4E4;
$success: #049976;
$warning: #FF9900;
$danger: #FF3B30;
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('./assets/SF-Pro-Rounded-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('./assets/SF-Pro-Rounded-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-family: 'SF Pro Rounded', Avenir, sans-serif;

  /* Colors */
  --color-primary: #{$primary};
  --color-primary-light: #C2DDFF;

  --color-secondary: #8E8E93;
  --color-secondary-light: #{$secondary};

  --color-success-light: #D0FFF4;
  --color-success: #{$success};
  --color-success-dark: #00644C;

  --color-danger-light: #FFC3BF;
  --color-danger: #{$danger};
  --color-danger-dark: #7D0700;

  --color-warning-light: #FFE3BA;
  --color-warning: #{$warning};
  --color-warning-dark: #985B00;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-primary);
}

h2 {
  font-size: 18px;
  font-weight: 400;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  background-color: var(--color-secondary-light);
  color: black;
  border-radius: 10px;
  padding: 19px 15px;
  height: 60px;
  width: 100%;
  max-width: 100%;
}

button.btn-primary:disabled {
  background-color: var(--color-primary-light) !important;
  border: none !important;
}

button.btn-primary:hover {
  box-shadow: 0 4px 8px 0 #C2DDFF;
}

div.modal-content {
  border-radius: 50px;
  padding: 32px;
}

.primary-text {
  color: var(--color-primary);
}

.primary-bg {
  background-color: var(--color-primary-light);
}

.primary-style {
  background-color: var(--color-primary-light);
  color: var(--color-primary);
}

.success-text {
  color: var(--color-success-dark);
  stroke: var(--color-success-dark);
  fill: var(--color-success-dark);
}

.success-bg {
  background-color: var(--color-success-light);
}

.success-style {
  background-color: var(--color-success-light);
  color: var(--color-success-dark);
}

.danger-text {
  color: var(--color-danger-dark);
}

.danger-bg {
  background-color: var(--color-danger-light);
}

.danger-style {
  background-color: var(--color-danger-light);
  color: var(--color-danger-dark);
}

.warning-text {
  color: var(--color-warning-dark);
}

.warning-bg {
  background-color: var(--color-warning-light);
}

.warning-style {
  background-color: var(--color-warning-light);
  color: var(--color-warning-dark);
}

.text-color-white {
  color: white;
}

.font-weight-600 {
  font-weight: 600;
}