// Import all of Bootstrap’s CSS
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('./assets/SF-Pro-Rounded-Regular.otf') format('opentype');
  font-weight: 400;
}

:root {
  --font-family: 'SF Pro Rounded', Avenir, sans-serif;

  /* Colors */
  --color-primary: #00459E;
  --color-primary-light: #C2DDFF;
  
  --color-secondary: #8E8E93;
  --color-secondary-light: #E4E4E4;

  --color-success-light: #D0FFF4;
  --color-success: #049976;
  --color-sucess-dark: #00644C;

  --color-danger-light: #FFC3BF;
  --color-danger: #FF3B30;
  --color-danger-dark: #7D0700;

  --color-warning-light: #FFE3BA;
  --color-warning: #FF9900;
  --color-warning-dark: #985B00;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
  font-weight: 400;

  b {
    font-weight: 700;
  }
}
