#medication-detail .icon-background {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  box-shadow: 0 4px 20px 0 rgba(0, 69, 158, 0.20);
}

#medication-detail .pill-info {
  gap: 8px;
}

#medication-detail .day {
  width: 30px;
  height: 30px;
  color: white;
  background-color: var(--color-secondary-light);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.selected {
    background-color: var(--color-primary);
  }
}

#medication-detail .days-container {
  gap: 8px;
}

#medication-detail th {
  padding: 0;
  font-weight: 400;
}
