#recover-password-page label {
  margin-bottom: 17px;
}

#recover-password-page .custom-input-group {
  margin-bottom: 0px;
  width: 100%;
}

#recover-password-page form {
  margin-top: 95px;
}

#recover-password-page form button[type="submit"] {
  margin-top: 61px;
  padding: 9px 80px;
  width: fit-content;
}

#recover-password-page .login-form {
  width: 100%;
  max-width: 518px;
  display: flex;
  flex-direction: column;
}
