#login-page #pills-icon {
  width: 10vw;
  height: 10vh;
  fill: black;
}

#login-page #pills-icon-container {
  margin-top: 4vh;
  margin-bottom: 4vh;
}

#login-page .custom-input-group {
  margin-bottom: 3vh;
  width: 100%;
}

#login-page form {
  margin-bottom: 8vh;
}

#login-page form button[type="submit"] {
  padding: 9px 50px;
  width: fit-content;
}

#login-page .login-form {
  width: 100%;
  max-width: 518px;
  display: flex;
  flex-direction: column;
}
